%h2.text-center.font-db Admin Settings
%hr
#admin_settings.font-db.site.text-center
  %h4.underline Admin Users
  - @admins.each do |admin|
    .admin
      = fa_icon 'legal'
      = "#{admin.first_name} #{admin.last_name}"
      = link_to "/admin/change_user_role/#{admin.id}", {class: 'demote_admin'} do
        = fa_icon 'arrow-down'
  %h4.underline Non Admin Users
  - @users.each do |user|
    .user
      = fa_icon 'user'
      = "#{user.first_name} #{user.last_name}"
      = link_to "/admin/change_user_role/#{user.id}", {class: 'promote_user'} do
        = fa_icon 'arrow-up'
%hr
%h4.text-center.underline.font-db General Settings
#site_settings
  %form.form-horizontal{:role => "form", method: 'post', action: '/save_settings'}
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}/
    - @general_settings.each do |setting|
      .form-group.font-db
        %label.col-sm-2.control-label
          = setting.name.gsub('general-', '')
        - if setting.name == 'general-about-us'
          .col-sm-10
            %textarea#about_us_setting.form-control{name: "setting-name[general-#{setting.name}]"}
              = setting.value
        -else
          .col-sm-10
            %input.form-control{type: 'text', value: setting.value, name: "setting-name[general-#{setting.name}]"}
    .clearfix
    %hr
    %h4.text-center.underline.font-db Social Media Links
    - @media_settings.each do |media|
      .form-group.font-db
        %label.col-sm-2.control-label
          = "#{media.name.gsub('media-', '').gsub('-social', '')} URL"
        .col-sm-10
          %input.form-control{type: 'url', name: "social-setting[media-#{media.name}-social]", value: Setting.setting_value("media-#{media.name}-social")}
    .clearfix
    %hr
    %h4.text-center.underline.font-db Business Hours
    - @days.each do |day|
      .form-group.font-db
        %label.col-sm-2.control-label
          = day
        .col-sm-10
          %input.form-control.picker.time.ui-timepicker-input{:autocomplete => "off", :type => "text", name: "hours-setting[business-#{day}-start]", value: Setting.setting_value("business-#{day}-start")}
          .text-center
            TO
          %input.form-control.picker.time.ui-timepicker-input{:autocomplete => "off", :type => "text", name: "hours-setting[business-#{day}-end]", value: Setting.setting_value("business-#{day}-end")}
    .clearfix
    %hr
    .actions.text-center
      %button.btn.btn-success#save_settings{type: 'submit'} Save Settings
