%h3.font-db.text-center sign up for an account with us
%hr
.sign-up.font-db
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }) do |f|
    = devise_error_messages!
    .form-group
      = f.label :email, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.email_field :email, {required: true, autofocus: true, class: 'form-control'}
    .form-group
      = f.label :first_name, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :first_name, {required: true, class: 'form-control'}
    .form-group
      = f.label :last_name, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.text_field :last_name, {required: true, class: 'form-control'}
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.password_field :password, {required: true, autocomplete: "off", class: 'form-control'}
    .form-group
      = f.label :password_confirmation, class: 'col-sm-2 control-label'
      .col-sm-10
        = f.password_field :password_confirmation, {required: true, autocomplete: "off", class: 'form-control'}
    %hr
    .text-center
      = f.submit "Sign up", {class: 'btn btn-sm btn-success'}
      %hr
      = render "devise/shared/links"
