- products.each do |product|
  .item.col-md-3
    .thumbnail
      .product-thumb
        - if defined?(review)
          %a{href: ''}
            %img.group.list-group-image{:alt => "", :src => (product.images.first.src rescue image_path('no-product-image.png'))}
        - else
          %a{href: product_url(product.id)}
            %img.group.list-group-image{:alt => "", :src => (product.images.first.src rescue image_path('no-product-image.png'))}
      .caption
        .product-title
          - if defined?(review)
            = product.title
          - else
            %a.group.inner.list-group-item-heading{href: product_url(product.id)}
              = product.title
        .body-container
          %p.group.inner.list-group-item-text.font-n
            = product.body_html.html_safe
            %a.readmore.hidden{:href => product_url(product.id)} read more
      .footer
        .row
          .col-xs-12.col-md-12
            %p.lead.text-success.font-n
              Price:
              = number_to_currency(product.variants.first.price)
              - if defined?(cart)
                %br
                Quantity:
                = session['cart'][product.id]
          .col-xs-12.col-md-12
            - unless defined?(review)
              %a.font-l.btn.btn-success.btn-sm.pull-right{:href => product_url(product.id)} More Details
            - if defined?(cart)
              - unless defined?(review)
                %a.font-l.remove_from_cart.btn.btn-warning.btn-sm.pull-right.button-margin{:href => "/remove_from_cart/#{product.id}/1", :value => product.id} Remove
            - else
              - unless defined?(review)
                %a.font-l.add_to_cart.btn.btn-primary.btn-sm.pull-right.button-margin{:href => "/add_to_cart/#{product.id}/1", :value => product.title} Add To Cart

