= render(partial: 'add_to_cart_modal')
%h2#shop_header.text-center.font-m
  = "Shop - #{@category.titleize}"
#accordion.panel-group.text-center
  .panel.panel-default
    .panel-heading
      %h4.panel-title.font-n
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Categories
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        .category
          %a.font-l{href: '/shop/category/all'} All
        - @categories.each do |key, value|
          .category
            %a.font-l{href: "/shop/category/#{key}"}
              = key.pluralize
.container-fluid
  #products.row.list-group
    = render(partial: 'products', locals: {products: @products})

