%h2#shop_header.text-center
  = "Shop - #{@category.titleize}"
#accordion.panel-group.text-center
  .panel.panel-default
    .panel-heading
      %h4.panel-title
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          Categories
    #collapseOne.panel-collapse.collapse.in
      .panel-body
        .category
          %a{href: '/shop/category/all', 'data-no-turbolink' => 'true'} All
        - @categories.each do |key, value|
          .category
            %a{href: "/shop/category/#{key}", 'data-no-turbolink' => 'true'}
              = key.pluralize
.container
  .well.well-sm
    %strong Category Title
    .btn-group
      %a#list.btn.btn-default.btn-sm{:href => "#"}
        %span.glyphicon.glyphicon-th-list>
        List
      %a#grid.btn.btn-default.btn-sm{:href => "#"}
        %span.glyphicon.glyphicon-th>
        Grid
  #products.row.list-group
    = render(partial: 'products', locals: {products: @products})

