= render(partial: 'product_nav', locals: {position: 1})
.item
  %h2
    = @product.title
  .product
    - if @product.images.count > 1
      = render(partial: 'shared/image_slide', locals: {images: @product.images})
    -else
      .product-image.text-center
        %img.group.list-group-image{:alt => "", :src => image_thumb(@product.id)}
    .caption
      .body-container
        %p.group.inner.list-group-item-text.text-center
          = strip_tags @product.body_html
    .footer
      .row
        .col-xs-12.col-md-6
          %p.lead.text-success
            $
            = @product.variants.first.price
        .col-xs-12.col-md-6
          %a.add_to_cart.btn.btn-primary.btn-sm.pull-right{:href => "#"} Add To Cart
          = button_to("Back To Shop", '/shop', {method: 'get', class: 'button-margin btn pull-right btn-sm'})
