= render(partial: 'product_nav', locals: {position: 1})
.item
  %h2.font-m
    = @product.title
  .product
    - if @product.images.count > 1
      = render(partial: 'shared/image_slide', locals: {images: @product.images})
    -else
      .product-image.text-center
        %img.group.list-group-image{:alt => "", :src => @product.images.first.src}
    .row
      .font-m.well
        %p.font-l.group.inner.list-group-item-text.text-center.col-md-12.col-xs-12
          = @product.body_html.html_safe
      .col-xs-4.col-md-6
        %p.font-n.lead.text-success
          Price:
          = number_to_currency(@product.variants.first.price)
      .col-xs-8.col-md-6
        %a.font-l.add_to_cart.btn.btn-primary.btn-sm.pull-right{:href => "/add_to_cart/#{@product.id}/1"} Add To Cart
        = button_to("Back", :back, {method: 'get', class: 'button-margin btn pull-right btn-sm font-l'})
