%form{role: 'form', method: 'POST', action: '/blog/process_comments'}
  = hidden_field_tag :authenticity_token, form_authenticity_token
  .approval-container
    = link_to "Back", blog_path, class: "font-l"
    %button#update.btn.btn-sm.btn-primary.font-l{type: 'submit'} Save Changes
  .scrollable
    - @sorted_comments.each do |k, v|
      %h3.font-b
        = @map[k]
      - v.each do |comment|
        .comment-box
          .author.font-n
            = "Author: #{comment['author']}"
          .comment-body.font-n
            = "Comment: #{comment['body']}"
          .posted-at.font-n
            - date = comment['created_at'].to_datetime.strftime("%D %I:%M %p")
            = "Posted At: #{date}"
          .approval.radio
            .wait.pull-left
              %input.wait-label.fa-radio.hidden{type: 'radio', id: "wait-#{comment['id']}", name: comment['id'], value: 'wait', 'checked' => 'true'}
              %label{'for' => "wait-#{comment['id']}"}
                = fa_icon 'question 2x', class: "wait-color icon-#{comment['id']}", id: "icon_wait_#{comment['id']}"
            .approve.pull-left
              %input.approve-label.fa-radio.hidden{type: 'radio', id: "approve-#{comment['id']}", name: comment['id'], value: 'approve'}
              %label{'for' => "approve-#{comment['id']}"}
                = fa_icon 'check 2x', class: "icon-faded icon-#{comment['id']}", id: "icon_approve_#{comment['id']}"
            .delete.pull-left
              %input.delete-label.fa-radio.hidden{type: 'radio', id: "delete-#{comment['id']}", name: comment['id'], value: 'delete'}
              %label{'for' => "delete-#{comment['id']}"}
                = fa_icon 'times 2x', class: "icon-faded icon-#{comment['id']}", id: "icon_delete_#{comment['id']}"
          %p.help-block.font-l{id: "help_#{comment['id']}"} * Comment will be ignored
          %hr
