.row
  .well.about-us.font-m
    = Setting.setting_value('general-about-us')
  %hr
  .clearfix
.row
  .c-wrapper
    - if @featured_products.count == 0
      .well.text-center.font-l No Featured Products Right Now...
    - else
      #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
        .carousel-inner
          - @featured_products.each_with_index do |product, index|
            - if index == 0
              .item.active
                %a{:href => product_url(product.id)}
                  %img{:src => product.images.first.src }
                .carousel-caption.font-l
                  = "Featured Product - #{product.title}"
            - else
              .item
                %a{:href => product_url(product.id)}
                  %img{:src => product.images.first.src }
                .carousel-caption.font-l
                  = "Featured Product - #{product.title}"
        %a.left.carousel-control{"data-slide" => "prev", href: "#carousel-example-generic", role: "button"}
          %span.glyphicon.glyphicon-chevron-left
        %a.right.carousel-control{"data-slide" => "next", href: "#carousel-example-generic", role: "button"}
          %span.glyphicon.glyphicon-chevron-right