- comments.each do |c|
  .comment{id: "comment_#{c['id']}"}
    - if admin?
      .remove-comment.delete-color{'data-id' => c['id']}
        = fa_icon 'times', text: 'Remove Comment'
    .comment-body.font-n
      = c['body']
    .comment-author.article-author.font-l
      = "#{c['author']} - #{c['created_at'].to_datetime.strftime("%D")}"
  %hr{id: "hr_#{c['id']}"}
