.navbar.navbar-default.navbar-organic{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          = image_tag('moonlight-logo.png', {width: '100px;', id: 'logo'})
      #company-name.pull-left
        .nav-header.font-db Moonlight Garden Supply
        #company-phone.font-m
          = phone_number_formatted(Setting.setting_value('general-toll-free-number'))
        #social-media-links.pull-right
          - @social_media_settings.each do |media|
            - unless media.value == 'none'
              = link_to media.value, {target: '_blank'} do
                = fa_icon "#{media.name.split('-').first}-square 2x"
    .collapse.navbar-collapse#nav-items.custom-nav.navbar-right
      %ul.nav.navbar-nav
        %li
          = link_to("About", '/about', {class: 'nav_item font-l'})
        %li
          = link_to("Blog", '/blog', {class: 'nav_item font-l'})
        %li
          = link_to("Shop", '/shop', {class: 'nav_item font-l'})
        %li
          = link_to("Contact", '/contact', {class: 'nav_item font-l'})
        %li
          %a{:href => "/cart"}
            = fa_icon "shopping-cart"
            = shopping_cart_count
        %li.dropdown
          %a.settings.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %b.fa.fa-gears
          %ul.dropdown-menu
            - if user_signed_in?
              %li.font-db.underline#user_name
                = "Hello #{current_user.first_name}"
              - if admin?
                %li.font-m
                  %a{href: '/admin_settings'} Admin Settings
                %li.font-m
                  %a{href: '/newsletter'} Send Newsletter
              %li.font-m
                = link_to 'Profile', "/profiles/#{current_user.id}"
                = link_to 'Orders', "/users/#{current_user.id}/orders"
                = link_to destroy_user_session_path, {:method => :delete} do
                  Logout
                  = fa_icon "sign-out"
            - else
              %li.font-m
                = link_to 'Sign In', new_user_session_path, :method => :get


