%nav.navbar.navbar-default.navbar-organic{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = image_tag('organic-logo.png', {width: '100px;', id: 'logo'})
    .collapse.navbar-collapse#nav-items.custom-nav
      %ul.nav.navbar-nav.pull-right
        %li
          = link_to("About", '/about', {class: 'nav_item brown-background'})
        %li
          = link_to("Blog", '/blog', {class: 'nav_item'})
        %li
          = link_to("Shop", '/shop', {class: 'nav_item'})
        %li
          = link_to("Contact", '/contact', {class: 'nav_item'})
