.navbar.navbar-default.navbar-organic{role: 'navigation'}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#nav-items", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{href: '/'}
        #logo.pull-left
          = image_tag('moonlight-logo.png', {width: '100px;', id: 'logo'})
      #company-name.pull-left
        .nav-header.font-b Moonlight Garden Supply
        #social-media-links.pull-right
          = link_to 'http://www.facebook.com/moonlightgardensupply', {target: '_blank'} do
            = fa_icon "facebook-square 2x"
          = link_to 'http://www.instagram.com', {target: '_blank'} do
            = fa_icon "instagram 2x"
          = link_to 'http://twitter.com/mgardensupply', {target: '_blank'} do
            = fa_icon "twitter-square 2x"
          = link_to 'http://www.youtube.com', {target: '_blank'} do
            = fa_icon "youtube-square 2x"
    .collapse.navbar-collapse#nav-items.custom-nav.navbar-right
      %ul.nav.navbar-nav
        %li
          = link_to("About", '/about', {class: 'nav_item font-m'})
        %li
          = link_to("Blog", '/blog', {class: 'nav_item font-m'})
        %li
          = link_to("Shop", '/shop', {class: 'nav_item font-m'})
        %li
          = link_to("Contact", '/contact', {class: 'nav_item font-m'})
        %li
          %a{:href => "/cart"}
            = fa_icon "shopping-cart"
            = shopping_cart_count
        %li.dropdown
          %a.settings.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            %b.fa.fa-gears
          %ul.dropdown-menu
            %li.font-m
              %a{href: '#'} Subscribe
            %li.font-m
              - if user_signed_in?
                = link_to 'Logout', destroy_user_session_path, :method => :delete, :calss => 'delete'
              - else
                = link_to 'Sign In', new_user_session_path, :method => :get
