- if user_signed_in?
  .remove-article.delete-color.pull-left{'data-id' => article['id']}
    = fa_icon 'times', text: 'Remove Article'
  = link_to fa_icon('edit', text: "Edit"), blog_edit_path({:id => article['id']}) , class: 'edit-article approve-color'
.article-header
  %h2.article-title.font-m{'data-id' => article['id'].to_i}
    = article['title']
  %footer
    .article-author.font-l
      - date = article['created_at'].to_datetime.strftime("%D")
      = "#{article['author']} - #{date}"
%blockquote.scrollable
  .article-body.font-n
    = article['body_html'].html_safe
