!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Moonlight Garden Supply
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      = render :partial => "layouts/header"
      = render :partial => "shared/bflash"
    .container-fluid
      = yield
